{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <br>
    <h3 style="font-style: italic;">This is a test project. At this site user can create a publication using password, view a list or a single item, search by title, leave a question for admin. <br>The main idea is to learn developing web apps..</h3><br>
      <p>The initial project for this web app has been found on Youtube, but many things were added and improved. Some of them are in the list below:
    </p>
    <ul>
        <li>added bootstrap (navbar and forms), viewport for mobile;</li>
        <li>added search functionality by publication's title;</li>
        <li>added search results counter;</li>
        <li>added form validation (blank fields);</li>
        <li>added custom color notification messages;</li>
        <li>added feedback form (data are saving to database);</li>
        <li>contact data is stored in database;</li>
        <li>database changed from SQLite to PostgreSQL;</li>
        <li>added Docker and Docker-compose files;</li>
        <li>added custom 404 page</li>
        <li>added pagination with get back to previous page</li>
        <li>added weather (by api request) to home page</li>
        <li>application was deployed to Heroku using branches from GitHub with opportunity auto deploy from master branch.</li>
    </ul>
    {% endblock %}